{:blocks (
{:block/content "# Lab Values"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69d656ff-5504-425e-80d4-1585f5b608db"}
:block/parent 
{:block/uuid #uuid "69d656ff-5504-425e-80d4-1585f5b608db"}
:block/properties 
{:heading 1}
:block/uuid #uuid "69db726a-3654-406f-9c9f-ded1574aae3e"} 
{:block/created-at 1775989628722
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke "pink"
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "69db726a-3654-406f-9c9f-ded1574aae3e"
:scaleLevel "md"
:fill "pink"
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 78]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "84d4bdc0-3659-11f1-afb0-cb709bd96f57"
:noFill false
:point [-8 720]
:parentId "69d656ff-5504-425e-80d4-1585f5b608db"
:collapsedHeight 0
:nonce 1775989353809}}
:block/updated-at 1775989628722} 
{:block/content "# Lab Name Ideas"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69db726a-3654-406f-9c9f-ded1574aae3e"}
:block/parent 
{:block/uuid #uuid "69d656ff-5504-425e-80d4-1585f5b608db"}
:block/properties 
{:heading 1}
:block/uuid #uuid "69db7291-9292-4250-ae2c-8d0e96f18ba8"} 
{:block/created-at 1775989510623
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke "purple"
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "69db7291-9292-4250-ae2c-8d0e96f18ba8"
:scaleLevel "md"
:fill "purple"
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 78]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "9aafd580-3659-11f1-afb0-cb709bd96f57"
:noFill false
:point [416 720]
:parentId "69d656ff-5504-425e-80d4-1585f5b608db"
:collapsedHeight 0
:nonce 1775989390468}}
:block/updated-at 1775989510623} 
{:block/content "# Lab Projects\n• Coding for vibe coders\n• Rust\n• New AI server & self-hosted models, small models, custom models"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69db7291-9292-4250-ae2c-8d0e96f18ba8"}
:block/parent 
{:block/uuid #uuid "69d656ff-5504-425e-80d4-1585f5b608db"}
:block/properties 
{:heading 1}
:block/uuid #uuid "69db72a0-5a05-475b-b973-a1c625cf9782"} 
{:block/created-at 1775989624889
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke "blue"
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "69db72a0-5a05-475b-b973-a1c625cf9782"
:scaleLevel "md"
:fill "blue"
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 173.9999535462108]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "a314bab0-3659-11f1-afb0-cb709bd96f57"
:noFill false
:point [832 720]
:parentId "69d656ff-5504-425e-80d4-1585f5b608db"
:collapsedHeight 0
:nonce 1775989404781}}
:block/updated-at 1775989624889} 
{:block/content "# Lab Activities\n• Monthly community meetup on critical AI etc\n•"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69db72a0-5a05-475b-b973-a1c625cf9782"}
:block/parent 
{:block/uuid #uuid "69d656ff-5504-425e-80d4-1585f5b608db"}
:block/properties 
{:heading 1}
:block/uuid #uuid "69db72a6-06a1-497c-985c-acede4d11836"} 
{:block/created-at 1775989632545
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke "green"
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "69db72a6-06a1-497c-985c-acede4d11836"
:scaleLevel "md"
:fill "green"
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 125.99999088278913]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "a7b34910-3659-11f1-afb0-cb709bd96f57"
:noFill false
:point [1248 720]
:parentId "69d656ff-5504-425e-80d4-1585f5b608db"
:collapsedHeight 0
:nonce 1775989412299}}
:block/updated-at 1775989632545})
:pages (
{:block/uuid #uuid "69d656ff-5504-425e-80d4-1585f5b608db"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "69d656ff-5504-425e-80d4-1585f5b608db"
:name "lab concept"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("84d4bdc0-3659-11f1-afb0-cb709bd96f57" "9aafd580-3659-11f1-afb0-cb709bd96f57" "a314bab0-3659-11f1-afb0-cb709bd96f57" "a7b34910-3659-11f1-afb0-cb709bd96f57")}}
:block/updated-at 1775989632545
:block/created-at 1775654655217
:block/type "whiteboard"
:block/name "lab concept"
:block/original-name "lab concept"})}